.wrapper {
    margin: 0 auto;
    max-width: $content-width;
}

.header__wrapper {
    display: flex;
}

.main__wrapper {
    padding-top: 25px;
    display: grid;
    grid-template-columns: 30% 70%;
}
