$color-bg: #f0f0f0;
$color-light: #ffffff;
$color-dark: #333D47;
$color-primary: #225FBF;
$color-primary-dark: #1753B3;
$color-navlink-inactive: rgba(246, 248, 253, 0.3);
$color-button: #5495FF;
$color-header-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
$color-bg-light: #F6F8FD;
$color-additional-info: #AFB7BF;
$color-hint: #494949;
$color-approved-request: #3FAD44;
$input-border: 1px solid #dae1e8;
$shadow: 0px 0px 8px 3px rgba(0,0,0,0.05);
$content-width: 1200px;
