.card {
    padding: 25px 30px 20px;
    @include grid($columns: 1fr, $rows: 120px 40px 45px 50px);
    background-color: $color-light;
    box-shadow: $shadow;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
    }
}

.card__engName {
    padding-top: 20px;
    justify-self: center;
    line-height: 1.6rem;
    color: $color-dark;
    @include font($size: 2.0rem, $letter: 0.3px);
}

.card__ruName {
    margin: 0;
    padding: 10px 0 30px;
    justify-self: center;
    line-height: 1.2rem;
    color: $color-light-text;
    @include font($size: 1.4rem, $letter: 0.3px);
}

.card__img {
    justify-self: center;
    > img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
}

.card__info {
    padding-top: 20px;
    border-top: 1px solid lightgray;
    @include grid($columns: 2fr 1fr, $rows: auto);
}

.department,
.room {
    @include grid($columns: 25px auto, $rows: auto);
}

.department__kind,
.room__number {
    margin: auto 0;
    @include font($size: 1.4rem, $letter: 0.3px);
    line-height: 1.2rem;
    color: $color-dark;
}
