.navigation {
    display: flex;
    margin: 0;
    line-height: 24px;
    > * {
        list-style: none;
        margin-right: 50px;
    }
}

.navigation__link {
    padding-bottom: 35px;
    text-decoration: none;
    color: $color-navlink-inactive;
    @include font($size: 1.6rem, $letter: 0.5px, $weight: 600);
    &:hover  {
        opacity: 0.8;
        color: $color-light;
        @extend %transition;
    }
    &.active {
        color: $color-light;
        border-bottom: 4px solid $color-primary-lighter;
    }
}
