.search__kinds {
    @include grid($columns: 2fr 3fr, $rows: auto);
}

.search__kind {
    margin-right: 25px;
    padding-bottom: 25px;
    color: $color-light-text;
    @include font($size: 1.4rem, $letter: 0.5px);
    @extend %uppercased;
    &:hover {
        cursor: pointer;
        color: $color-dark;
        @extend %transition;
    }
    &.active {
        padding-left: 5px;
        color: $color-dark;
        border-bottom: 4px solid $color-additional;
    }
}

.search__container {
    padding: 30px;
    margin-right: 20px;
    @include grid($columns: 1.5fr 8.5fr, $rows: 36px 56px);
    grid-template-areas: "search__icon search__input"
                        "search__button search__button";
    background-color: $color-light;
    box-shadow: $shadow;
    border-radius: 5px;
}

.search__input {
    grid-area: search__input;
    outline: none;
    border: 1px solid lightgray;
    border-left: none;
    padding: 12px 0 12px 20px;
    border-radius: 0 5px 5px 0;
    @include font($size: 1.4rem);
    &::placeholder {
        padding: 30px 0;
        color: $color-light-text;
        @include font($size: 1.4rem);
    }
}

.search__icon {
    grid-area: search__icon;
    display: grid;
    @include background($image: '../img/icons/search.svg');
    background-position-x: 4px;
    border: 1px solid lightgray;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.search__button {
    grid-area: search__button;
    margin-top: 20px;
    @include font($size: 1.4rem, $letter: 0.5px);
}
