.cards-area__info {
    padding-bottom: 25px;
    @include grid($columns: auto 40px 50px, $rows: auto);
}

.cards-number {
    margin: 0;
    color: rgba(0,0,0,0.6);
    @include font($size: 1.4rem, $letter: 0.3px);
}

/* grid */
.cards {
    @include grid($columns: repeat(3, 250px), $rows: repeat(3, 300px));
    grid-gap: 20px;
}

/* table */
.cards-table {
    width: 100%;
    background-color: $color-light;
    box-shadow: $shadow;
    border-radius: 5px;
}
