.registration__form,
.authorization__form {
    padding: 40px 0;
    margin: 0 auto;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: 20px;
    }
}

.form__button {
    max-width: 25%;
    @include font($size: 1.6rem, $letter: 0.5px);
}

.login,
.password {
    display: flex;
    flex-direction: column;
    label {
        padding-bottom: 12px;
        color: $color-light-text;
        @include font($size: 1.6rem, $letter: 0.5px, $weight: 600);
    }
    input {
        outline: none;
        padding: 20px 10px;
        border-radius: 5px;
        border: 1px solid $color-light;
        box-shadow: $shadow;
        background-color: $color-bg-form-input;
        @include font($size: 1.6rem, $letter: 0.5px);
        &::placeholder {
            @include font($size: 1.6rem, $letter: 0.5px);
        }
        &:focus {
            outline: none;
        }
    }
}

.role-selection {
    display: flex;
    flex-direction: column;
    label {
        padding-bottom: 12px;
        color: $color-light-text;
        @include font($size: 1.6rem, $letter: 0.5px, $weight: 600);
    }
}

.role-variants  {
    @include font($size: 1.6rem, $letter: 0.5px);
    input {
        margin: 0 10px;
    }
}
