@mixin font($family: 'Roboto', $size: inherit, $weight: normal, $letter: 0, $height: auto) {
    font-family: $family, 'Verdana', sans-serif;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $letter;
}

@mixin background($image, $size: contain, $repeat: no-repeat, $position: auto) {
    background-image: url($image);
    background-size: $size;
    background-repeat: $repeat;
    background-position: $position;
}

@mixin grid($display: grid, $columns, $rows) {
    display: $display;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}

@mixin ico-settings($display: inline-block, $width: 20px, $height: 20px, ) {
    display: $display;
    width: $width;
    height: $height;
}
