tbody {
    box-shadow: $shadow;
    border-radius: 5px;
    tr {
        background: $color-bg-table-row;
    }
}

.thead {
    background: $color-bg-thead;
}

.head__column {
    display: table-cell;
    cursor: pointer;
    text-align: left;
    @include font($size: 1.3rem, $weight: 600);
    > span:first-child {
        margin-right: 5px;
    }
    &-name {
        vertical-align: super;
    }
}

.table-card__img > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.table-card__engName {
    line-height: 1.6rem;
    color: $color-dark;
    @include font($size: 2.0rem, $letter: 0.3px);
}

.table-card__ruName {
    line-height: 1.2rem;
    color: $color-light-text;
    @include font($size: 1.4rem, $letter: 0.3px);
}

.table-card__department,
.table-card__room {
    margin: auto 0;
    line-height: 1.2rem;
    color: $color-dark;
    @include font($size: 1.4rem, $letter: 0.3px);
}
