:root {
    --color-bg: #e7edf7;
    --color-primary: #0000CD;
    --color-primary-darker: #0000B4;
    --color-primary-lighter: #1b1bff;
    --color-additional: #6495ED;
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-light-text: rgba(0,0,0,0.4);
    --font: 'Roboto', 'Verdana', sans-serif;
    --shadow: 0px 0px 8px 3px rgba(0,0,0,0.05);
    --color-tag: #ececec;
    --color-edit-button: #e7edf7;
    --color-navlink-inactive: rgba(242, 242, 242, 0.5);
    --color-bg-form-input: #d4ebf2;
}

/* BASE */

html {
    font-size: 10px;
}

body {
    background-color: var(--color-bg);
}

h1, h2, h3,
p {
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 1170px;
}

/* HEADER */

.header {
    background-color: var(--color-primary);
    border-bottom: 4px solid var(--color-primary-darker);
}

.header__wrapper {
    display: flex;
}

.logo {
    width: 28%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    text-decoration: none;
}

.logo:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: all ease-in .3s;
}

.organisation-name,
.organisation-service {
    font-family: var(--font);
    letter-spacing: 2px;
    color: var(--color-light);
    text-transform: uppercase;
}

.organisation-name {
    font-size: 1.4rem;
    padding: 6px 0;
}

.organisation-service {
    font-size: 1.6rem;
    font-weight: 600;
}

.header__navigation {
    width: 50%;
    padding-top: 30px;
}

.navigation {
    display: flex;
    margin: 0;
    line-height: 24px;
}

.navigation > * {
    list-style: none;
    margin-right: 50px;
}

.navigation__link {
    padding-bottom: 35px;
    text-decoration: none;
    color: var(--color-navlink-inactive);
    font-family: var(--font);
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.navigation__link:hover  {
    opacity: 0.8;
    transition: all ease-in .3s;
}

.navigation__link.active {
    color: var(--color-light);
    border-bottom: 4px solid var(--color-primary-lighter);
}

.user-profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 22%;
    padding: 23px 0;
}

.user-profile__notification,
.user-profile__power-off {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-primary-darker);
}

.user-profile__user {
    margin: 0 20px;
    display: flex;
    border-radius: 20px;
    background-color: var(--color-primary-darker);
}

.user__photo {
    margin: auto 10px auto 5px;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../assets/img/7.jpg');
}

.user__name {
    margin: auto 0;
    padding-right: 20px;
    text-transform: uppercase;
    color: var(--color-light);
    font-family: var(--font);
    font-weight: 600;
    letter-spacing: 1px;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.user-profile__notification:hover,
.user-profile__power-off:hover,
.user-profile__user:hover {
    filter: brightness(0.9);
    cursor: pointer;
    transition: all ease-out .3s;
}

.user-profile__button {
    font-family: var(--font);
    font-size: 1.2rem;
    font-weight: 600;
}

/* REGISTRATION && LOG IN*/

.registration__form,
.authorization__form {
    padding: 40px 0;
    margin: 0 auto;
    max-width: 40%;
    display: flex;
    flex-direction: column;
}

.registration__form > *,
.authorization__form > * {
    margin-bottom: 20px;
}

.form__button {
    max-width: 25%;
}

.login,
.password,
.confirm-password,
.role-selection {
    display: flex;
    flex-direction: column;
}

.login label,
.password label,
.confirm-password label,
.role-selection label,
.login input,
.password input,
.role-variants,
.confirm-password input,
.login input::placeholder,
.password input::placeholder,
.form__button {
    font-family: var(--font);
    font-size: 1.6rem;
    letter-spacing: 0.5px;
}

.login label,
.password label,
.confirm-password label,
.role-selection label {
    padding-bottom: 12px;
    font-weight: 600;
    color: var(--color-light-text);
}

.login input,
.password input,
.confirm-password input {
    outline: none;
    padding: 20px 10px;
    border-radius: 5px;
    border: 1px solid var(--color-light);
    box-shadow: var(--shadow);
    background-color: var(--color-bg-form-input);
}

.login input:focus,
.password input:focus,
.confirm-password input:focus {
    outline: none;
}

.role-variants input {
    margin: 0 10px;
}

/* MAIN */

.main__wrapper {
    padding-top: 25px;
    display: grid;
    grid-template-columns: 30% 70%;
}

/* buttons */

.button {
    outline: none;
    border: none;
    text-transform: uppercase;
    background-color: var(--color-primary-lighter);
    color: var(--color-light);
    border-radius: 5px;
    padding: 10px;
}

.button:hover {
    cursor: pointer;
    background-color: var(--color-additional);
    transition: all ease-in .3s;
}

/* icons */

.ico {
    cursor: pointer;
}

.search__icon {
    grid-area: search__icon;
    display: grid;
    background-image: url('../assets/img/icons/search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 4px;
    border: 1px solid lightgray;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.department__ico,
.room__ico,
.name__ico,
.photo__ico,
.ico__grid-view,
.ico__table-view {
    margin: auto 0;
    display: grid;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.ico-photo-table,
.ico-name-table,
.ico-department-table,
.ico-room-table {
    display: table;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}

.notification__ico,
.power-off__ico {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.notification__ico {
    width: 24px;
    height: 24px;
    margin: 7px;
    background-image: url('../assets/img/icons/notification.svg');
}

.power-off__ico {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-image: url('../assets/img/icons/power-off.png');
}

.department__ico,
.ico-department-table {
    background-image: url('../assets/img/icons/briefcase.svg');
}

.room__ico,
.ico-room-table {
    background-image: url('../assets/img/icons/room.png');
}

.ico-photo-table {
    background-image: url('../assets/img/icons/round.png');
}

.ico-name-table {
    background-image: url('../assets/img/icons/user.png');
}

.ico__grid-view {
    background-image: url('../assets/img/icons/grid-view-active.png');
}

.ico__table-view {
    background-image: url('../assets/img/icons/line-view-inactive.png');
}

.info__item > span > span:first-child {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.internal-phone__ico {
    background-image: url('../assets/img/icons/internal-phone.png');
}

.mobile-phone__ico {
    background-image: url('../assets/img/icons/mobile-phone.png');
}

.email__ico {
    background-image: url('../assets/img/icons/email.png');
}

.skype__ico {
    background-image: url('../assets/img/icons/skype.png');
}

.c-number__ico {
    background-image: url('../assets/img/icons/c-number.png');
}

.hire-date__ico {
    background-image: url('../assets/img/icons/hire-date.png');
}

.status__ico {
    background-image: url('../assets/img/icons/status.png');
}

.start-period__ico {
    background-image: url('../assets/img/icons/start-date.png');
}

.working-day__ico {
    background-image: url('../assets/img/icons/duration.png');
}

.vacation__ico {
    background-image: url('../assets/img/icons/vacation.png');
}

/* search */

.search__kind {
    text-transform: uppercase;
}

.search__kinds {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.search__kind {
    margin-right: 25px;
    padding-bottom: 25px;
    font-family: var(--font);
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    color: var(--color-light-text);
}

.search__kind:hover {
    cursor: pointer;
    color: var(--color-dark);
    transition: all ease-in .3s;
}

.search__kind.active {
    padding-left: 5px;
    color: var(--color-dark);
    border-bottom: 4px solid var(--color-additional);
}

.search__container {
    padding: 30px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1.5fr 8.5fr;
    grid-template-rows: 36px 56px;
    grid-template-areas: "search__icon search__input"
                        "search__button search__button";
    background-color: var(--color-light);
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.search__input {
    grid-area: search__input;
    outline: none;
    border: 1px solid lightgray;
    border-left: none;
    padding: 12px 0 12px 20px;
    border-radius: 0 5px 5px 0;
    font-family: var(--font);
    font-size: 1.4rem;
}

.search__input::placeholder {
    padding: 30px 0;
    color: var(--color-light-text);
    font-family: var(--font);
    font-size: 1.4rem;
}

.search__button {
    grid-area: search__button;
    margin-top: 20px;
    font-family: var(--font);
    font-size: 1.4rem;
    letter-spacing: 0.5px;
}

/* cards */

.cards {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 300px);
    grid-gap: 20px;
}

.cards-area__info {
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: auto 40px 50px;
}

.cards-number {
    margin: 0;
    font-family: var(--font);
    font-size: 1.4rem;
    letter-spacing: 0.3px;
    color: rgba(0,0,0,0.6);
}

.card {
    padding: 25px 30px 20px;
    background-color: var(--color-light);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 40px 45px 50px;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.card__engName,
.card__ruName,
.card__img {
    justify-self: center;
}

.card__engName {
    padding-top: 20px;
}

.card__engName,
.table-card__engName,
.employee__name {
    font-family: var(--font);
    font-size: 2.0rem;
    line-height: 1.6rem;
    letter-spacing: 0.3px;
    color: var(--color-dark);
}

.card__ruName {
    margin: 0;
    padding: 10px 0 30px;
}

.card__ruName,
.table-card__ruName,
.employee__sex,
.employee__nativeName,
.id-tag,
.business-card-tag,
.info__title,
.info__name {
    font-family: var(--font);
    font-size: 1.4rem;
    line-height: 1.2rem;
    letter-spacing: 0.3px;
    color: var(--color-light-text);
}

.card__engName:hover,
.table-card__engName:hover {
    text-decoration: underline;
    cursor: pointer;
}

.card__img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.table-card__img img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.card__info {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-top: 1px solid lightgray;
}

.department,
.room {
    display: grid;
    grid-template-columns: 25px auto;
}

.department__kind,
.table-card__department,
.room__number,
.table-card__room,
.info__value {
    margin: auto 0;
    font-family: var(--font);
    font-size: 1.4rem;
    line-height: 1.2rem;
    letter-spacing: 0.3px;
    color: var(--color-dark);
}

/* table */

.cards-table {
    background-color: var(--color-light);
    width: 100%;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

tbody {
    border-bottom: lightgray;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.head__column {
    clear: left;
    font-family: var(--font);
    font-size: 1.3rem;
    cursor: pointer;
}

.head__column > span {
    padding-right: 5px;
}

th {
    text-align: left;
}

/* FOOTER */
.footer {
    padding: 40px;
}

/* EMPLOYEE CARD */

.employee-card {
    margin: 20px 0;
    display: flex;
    background-color: var(--color-light);
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.return-button {
    margin: 20px 0 0 20px;
    background-color: var(--color-tag);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-image: url('../assets/img/icons/return-btn.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.return-button:hover {
    cursor: pointer;
    filter: brightness(0.9);
    transition: ease-in all .3s;
}

/* employee*/

.employee {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.employee > *:not(.return-button) {
    margin: 0 auto;
    padding-bottom: 10px;
}

.employee__photo {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 55%;
    padding-bottom: 10px;
}

.employee__tags {
    display: flex;
}

.tag {
    background-color: var(--color-tag);
    border-radius: 15px;
    padding: 7px 10px;
}

.tag:not(:first-child) {
    margin-left: 10px;
}

/* employee info */

.employee-info {
    width: 60%;
    margin: 35px 0;
    padding: 0 20px;
    border-left: 2px solid var(--color-tag);
}

.info {
    padding-bottom: 50px;
}

.info__title {
    padding-bottom: 7px;
    border-bottom: 2px solid var(--color-tag);
    text-transform: uppercase;
}

.info__item {
    display: flex;
    padding-top: 20px;
}

.info__item > span {
    display: flex;
    width: 50%;
}

.info__name {
    margin: auto 0;
    padding-left: 15px;
}

/* edit button*/

.edit-btn {
    width: 10%;
    padding: 35px 30px 0 0;
    text-align: right;
}

.edit-btn > button {
    outline: none;
    border: none;
    padding: 10px 15px;
    text-transform: uppercase;
    color: var(--color-additional);
    font-family: var(--font);
    font-size: 1.0rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 5px;
    background-color: var(--color-edit-button);
}

.edit-btn > button:hover {
    cursor: pointer;
    filter: brightness(0.9);
    transition: all ease-in .3s;
}

.edit-status-table {
    margin: 0 auto;
    padding: 40px 0;
}

.status-table-tbody {
    background-color: var(--color-light-text);
}

.registered-user {
    margin-bottom: 2px;
}

.status-button {
    background-color: var(--color-light);
    color: var(--color-primary-darker);
}
